.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
}

.header {
  display: flex;
  justify-content: space-around;
}
.header-buttons {
  width: 3000px;
}

.header-buttons button {
  padding: 0 10px 0 10px; 
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 18px;
  height: 35px;
}

.header-buttons button:hover {
  background-color: lightgrey;
}

.display {
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 60px;
}

.desc, p {
  font-size: 18px;
  margin-left: 20px;
}