.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
}

.header-buttons {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-right: 25px;
}

.header-buttons button {
  padding: 0 10px 0 10px; 
}